#container {
    margin: 2vw 5vw 2vw 5vw;
}

#header {
    display: flex;
    justify-content: flex-end;
}

#nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
}

#footer {
    margin: 2vw 0 2vw 1vw;
}

#footer p {
    margin: 0 0 5px 0;
}

@media (max-width:700px) {
    #container {
        margin-top: 5vw;
    }
}

